body{
    background: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    }
.wrapper{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 12px 200px; 
    grid-template-areas: 
     ". . ."
     ". . .";
    margin-top: 5%;
    margin-right: 5%;
    }
    
.container{
    border: 1px solid black;
    }
.header{
    background-color: #282c34;
    color: white;
    margin: 0;
    padding: 2%;
    }
.bank-container{
    box-shadow: 0 0 9px rgb(0 0 0 / 50%);   
    margin-left: 2%;
    border-radius: 5px;
    
    }
.work-container{
    box-shadow: 0 0 9px rgb(0 0 0 / 50%);    
    margin-left: 2%;
    border-radius: 5px;
    
    }
.laptop-container{
    box-shadow: 0 0 9px rgb(0 0 0 / 50%);    margin-left: 2%;
    border-radius: 5px;
    
    }
#computerImage{
    max-width: 75%;
    }
#outstandingLoanAmount{
    display: none;
    }
.price-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . ."
        ". . .";
    grid-column: 1/4;
    box-shadow: 0 0 9px rgb(0 0 0 / 50%);
    margin-top: 4%;
    padding: 5%;
    margin-left: 10%;
    margin-right: 5%;
    }
.computerTitle{
    grid-column: 1/2;
    }
#computerDescription{
    grid-column: 2/2;
    margin: 0;
    }
#buy-button{
    grid-column: 3/3;
    background-color: #1c88ff80;
    border-color: #ffffff33;
    border-radius: 5px;
    width: 50%;
    padding: 2%;
    }
.sendBalance{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: blue;
    border-radius: 15%;
    color: white;
    border-color: blue;
    border-style: solid;
    }
#initialBalance{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 15%;
    margin-left: 2%;
    color: black;
    background-color: #e7e72d;
    border-color: #e7e72d;
    border-style: solid;
    }
#select-laptop{
    margin-left: 5%;
    }
    .laptop-selection{
    margin-left: 5%;
    }
    button{
    cursor: pointer;
    }
    #loanButton{
    background-color: #36f57dd1;
    /* margin-left: 32%; */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 7px;
    border-color: #36f57dd1;
    border-style: solid;
    }
    #repayLoan{
    display: none;
    background-color: #36f57dd1;
    border-color: #36f57dd1;
    margin-left: 8%;
    margin-top: 4%;
    border-radius: 7px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;

    }